-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: sidmini
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_log` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `log_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `subject_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subject_id` bigint unsigned DEFAULT NULL,
  `event` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `causer_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `causer_id` bigint unsigned DEFAULT NULL,
  `attribute_changes` json DEFAULT NULL,
  `properties` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subject` (`subject_type`,`subject_id`),
  KEY `causer` (`causer_type`,`causer_id`),
  KEY `activity_log_log_name_index` (`log_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ajuan_bpd_pesertas`
--

DROP TABLE IF EXISTS `ajuan_bpd_pesertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajuan_bpd_pesertas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_bpd_id` bigint unsigned NOT NULL,
  `bpd_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ajuan_bpd_pesertas_ajuan_bpd_id_foreign` (`ajuan_bpd_id`),
  KEY `ajuan_bpd_pesertas_bpd_id_foreign` (`bpd_id`),
  CONSTRAINT `ajuan_bpd_pesertas_ajuan_bpd_id_foreign` FOREIGN KEY (`ajuan_bpd_id`) REFERENCES `ajuan_bpds` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ajuan_bpd_pesertas_bpd_id_foreign` FOREIGN KEY (`bpd_id`) REFERENCES `bpds` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuan_bpd_pesertas`
--

LOCK TABLES `ajuan_bpd_pesertas` WRITE;
/*!40000 ALTER TABLE `ajuan_bpd_pesertas` DISABLE KEYS */;
INSERT INTO `ajuan_bpd_pesertas` VALUES (9,9,1827,'2026-07-31 22:22:03','2026-07-31 22:22:03'),(10,10,1827,'2026-08-01 01:20:40','2026-08-01 01:20:40'),(12,12,1826,'2026-08-03 20:17:29','2026-08-03 20:17:29');
/*!40000 ALTER TABLE `ajuan_bpd_pesertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ajuan_bpds`
--

DROP TABLE IF EXISTS `ajuan_bpds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajuan_bpds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `no_registrasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_ajuan` enum('pemberhentian','peresmian','pemberhentian_dan_peresmian') COLLATE utf8mb4_unicode_ci NOT NULL,
  `metode` enum('online','offline') COLLATE utf8mb4_unicode_ci NOT NULL,
  `alasan_pemberhentian_id` bigint unsigned DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `posisi_surat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Berkas Diterima',
  `tgl_diajukan` date DEFAULT NULL,
  `tgl_sla_batas` date DEFAULT NULL,
  `berkas_zip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ajuan_bpds_desa_id_foreign` (`desa_id`),
  KEY `ajuan_bpds_alasan_pemberhentian_id_foreign` (`alasan_pemberhentian_id`),
  CONSTRAINT `ajuan_bpds_alasan_pemberhentian_id_foreign` FOREIGN KEY (`alasan_pemberhentian_id`) REFERENCES `alasan_pemberhentians` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ajuan_bpds_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuan_bpds`
--

LOCK TABLES `ajuan_bpds` WRITE;
/*!40000 ALTER TABLE `ajuan_bpds` DISABLE KEYS */;
/*!40000 ALTER TABLE `ajuan_bpds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ajuan_pesertas`
--

DROP TABLE IF EXISTS `ajuan_pesertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajuan_pesertas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_id` bigint unsigned NOT NULL,
  `perangkat_desa_id` bigint unsigned NOT NULL,
  `jabatan_baru` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ajuan_pesertas_ajuan_id_foreign` (`ajuan_id`),
  KEY `ajuan_pesertas_perangkat_desa_id_foreign` (`perangkat_desa_id`),
  CONSTRAINT `ajuan_pesertas_ajuan_id_foreign` FOREIGN KEY (`ajuan_id`) REFERENCES `ajuans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ajuan_pesertas_perangkat_desa_id_foreign` FOREIGN KEY (`perangkat_desa_id`) REFERENCES `perangkat_desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuan_pesertas`
--

LOCK TABLES `ajuan_pesertas` WRITE;
/*!40000 ALTER TABLE `ajuan_pesertas` DISABLE KEYS */;
INSERT INTO `ajuan_pesertas` VALUES (14,14,1925,NULL,'2026-07-30 08:50:17','2026-07-30 08:50:17'),(15,15,1931,NULL,'2026-07-30 10:25:20','2026-07-30 10:25:20'),(22,22,1927,'Sekdes','2026-07-31 22:41:28','2026-07-31 22:41:28'),(26,26,1932,NULL,'2026-08-03 19:21:06','2026-08-03 19:21:06'),(27,27,1928,'Kasi Pemerintahan','2026-08-03 19:21:36','2026-08-03 19:21:36'),(28,28,1931,NULL,'2026-08-03 20:21:52','2026-08-03 20:21:52'),(29,29,1928,NULL,'2026-08-03 21:39:37','2026-08-03 21:39:37');
/*!40000 ALTER TABLE `ajuan_pesertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ajuans`
--

DROP TABLE IF EXISTS `ajuans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajuans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_registrasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `desa_id` bigint unsigned NOT NULL,
  `jenis_layanan_id` bigint unsigned NOT NULL,
  `jabatan_baru` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan_pemberhentian_id` bigint unsigned DEFAULT NULL,
  `metode` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'online',
  `posisi_surat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `folder_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `berkas_zip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `tgl_diajukan` date DEFAULT NULL,
  `tgl_sla_batas` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ajuans_no_registrasi_unique` (`no_registrasi`),
  KEY `ajuans_desa_id_foreign` (`desa_id`),
  KEY `ajuans_jenis_layanan_id_foreign` (`jenis_layanan_id`),
  KEY `ajuans_alasan_pemberhentian_id_foreign` (`alasan_pemberhentian_id`),
  CONSTRAINT `ajuans_alasan_pemberhentian_id_foreign` FOREIGN KEY (`alasan_pemberhentian_id`) REFERENCES `alasan_pemberhentians` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ajuans_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ajuans_jenis_layanan_id_foreign` FOREIGN KEY (`jenis_layanan_id`) REFERENCES `jenis_layanans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajuans`
--

LOCK TABLES `ajuans` WRITE;
/*!40000 ALTER TABLE `ajuans` DISABLE KEYS */;
/*!40000 ALTER TABLE `ajuans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alasan_pemberhentians`
--

DROP TABLE IF EXISTS `alasan_pemberhentians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alasan_pemberhentians` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alasan_pemberhentians`
--

LOCK TABLES `alasan_pemberhentians` WRITE;
/*!40000 ALTER TABLE `alasan_pemberhentians` DISABLE KEYS */;
/*!40000 ALTER TABLE `alasan_pemberhentians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arsip_rekoms`
--

DROP TABLE IF EXISTS `arsip_rekoms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arsip_rekoms` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_id` bigint unsigned NOT NULL,
  `no_surat_rekom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tgl_upload` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `uploaded_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `arsip_rekoms_ajuan_id_foreign` (`ajuan_id`),
  KEY `arsip_rekoms_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `arsip_rekoms_ajuan_id_foreign` FOREIGN KEY (`ajuan_id`) REFERENCES `ajuans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `arsip_rekoms_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arsip_rekoms`
--

LOCK TABLES `arsip_rekoms` WRITE;
/*!40000 ALTER TABLE `arsip_rekoms` DISABLE KEYS */;
/*!40000 ALTER TABLE `arsip_rekoms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bimtek_informasis`
--

DROP TABLE IF EXISTS `bimtek_informasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bimtek_informasis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `konten` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `foto` longtext COLLATE utf8mb4_unicode_ci,
  `file_lampiran` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kategori` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'informasi',
  `published_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bimtek_informasis`
--

LOCK TABLES `bimtek_informasis` WRITE;
/*!40000 ALTER TABLE `bimtek_informasis` DISABLE KEYS */;
INSERT INTO `bimtek_informasis` VALUES (1,'Test 1','<p>Ini uji coba ke 1</p>','[\"bimtek\\/informasi\\/foto\\/MynSRirHCzPUNMe8a9GWHBqQcsUR7FdpYtsZaYcr.png\"]','bimtek/informasi/lampiran/fJhEox6ThOfdILGHTnPKNTxBHFKqz0An8vp8tyIY.pdf','informasi','2026-08-03 18:38:00','2026-08-03 18:39:38','2026-08-03 18:39:38');
/*!40000 ALTER TABLE `bimtek_informasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bimtek_pendaftarans`
--

DROP TABLE IF EXISTS `bimtek_pendaftarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bimtek_pendaftarans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bimtek_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `desa_id` bigint unsigned NOT NULL,
  `perangkat_desa_id` bigint unsigned NOT NULL,
  `status_presensi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'terdaftar',
  `file_rtl` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_revisi_rtl` text COLLATE utf8mb4_unicode_ci,
  `status_rtl` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu_rtl',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bimtek_pendaftarans_bimtek_id_foreign` (`bimtek_id`),
  KEY `bimtek_pendaftarans_user_id_foreign` (`user_id`),
  KEY `bimtek_pendaftarans_desa_id_foreign` (`desa_id`),
  KEY `bimtek_pendaftarans_perangkat_desa_id_foreign` (`perangkat_desa_id`),
  CONSTRAINT `bimtek_pendaftarans_bimtek_id_foreign` FOREIGN KEY (`bimtek_id`) REFERENCES `bimteks` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bimtek_pendaftarans_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bimtek_pendaftarans_perangkat_desa_id_foreign` FOREIGN KEY (`perangkat_desa_id`) REFERENCES `perangkat_desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bimtek_pendaftarans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bimtek_pendaftarans`
--

LOCK TABLES `bimtek_pendaftarans` WRITE;
/*!40000 ALTER TABLE `bimtek_pendaftarans` DISABLE KEYS */;
INSERT INTO `bimtek_pendaftarans` VALUES (1,1,1,1,1,'absen',NULL,NULL,'menunggu_rtl','2026-07-26 18:13:53','2026-07-26 18:13:53');
/*!40000 ALTER TABLE `bimtek_pendaftarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bimteks`
--

DROP TABLE IF EXISTS `bimteks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bimteks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `judul` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `kuota` int NOT NULL DEFAULT '0',
  `tanggal_pelaksanaan` date NOT NULL,
  `tempat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_undangan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_materi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_sertifikat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'terjadwal',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bimteks`
--

LOCK TABLES `bimteks` WRITE;
/*!40000 ALTER TABLE `bimteks` DISABLE KEYS */;
INSERT INTO `bimteks` VALUES (1,'Pelatihan Pengelolaan Siskeudes dan Sipades Versi 2026','Bimtek wajib bagi Sekretaris Desa dan Kaur Keuangan perihal penatausahaan aset keuangan desa.',50,'2026-08-03','Aula Dinpermasdes Kabupaten / Zoom',NULL,NULL,NULL,'terjadwal','2026-07-26 18:13:52','2026-07-26 18:13:52'),(2,'Sertifikasi Legal Drafting Produk Hukum Desa bagi BPD','Peningkatan kapasitas perancangan peraturan desa terpadu.',30,'2026-08-11','Lantai 2 Gedung Diklat Daerah',NULL,NULL,NULL,'terjadwal','2026-07-26 18:13:52','2026-07-26 18:13:52');
/*!40000 ALTER TABLE `bimteks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bpds`
--

DROP TABLE IF EXISTS `bpds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bpds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_sk_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_mulai_jabatan` date DEFAULT NULL,
  `status_aktif` tinyint(1) NOT NULL DEFAULT '1',
  `status_verifikasi` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disetujui',
  `draft_perubahan` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bpds_desa_id_foreign` (`desa_id`),
  CONSTRAINT `bpds_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1828 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bpds`
--

LOCK TABLES `bpds` WRITE;
/*!40000 ALTER TABLE `bpds` DISABLE KEYS */;
/*!40000 ALTER TABLE `bpds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklist_ajuan_bpds`
--

DROP TABLE IF EXISTS `checklist_ajuan_bpds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checklist_ajuan_bpds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_bpd_id` bigint unsigned NOT NULL,
  `template_checklist_bpd_id` bigint unsigned NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'belum_diunggah',
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `versi` int NOT NULL DEFAULT '1',
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checklist_ajuan_bpds_ajuan_bpd_id_foreign` (`ajuan_bpd_id`),
  KEY `checklist_ajuan_bpds_template_checklist_bpd_id_foreign` (`template_checklist_bpd_id`),
  KEY `checklist_ajuan_bpds_updated_by_foreign` (`updated_by`),
  CONSTRAINT `checklist_ajuan_bpds_ajuan_bpd_id_foreign` FOREIGN KEY (`ajuan_bpd_id`) REFERENCES `ajuan_bpds` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checklist_ajuan_bpds_template_checklist_bpd_id_foreign` FOREIGN KEY (`template_checklist_bpd_id`) REFERENCES `template_checklist_bpds` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checklist_ajuan_bpds_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklist_ajuan_bpds`
--

LOCK TABLES `checklist_ajuan_bpds` WRITE;
/*!40000 ALTER TABLE `checklist_ajuan_bpds` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_ajuan_bpds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklist_ajuans`
--

DROP TABLE IF EXISTS `checklist_ajuans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checklist_ajuans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_id` bigint unsigned NOT NULL,
  `template_checklist_id` bigint unsigned NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'belum_diunggah',
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `versi` int NOT NULL DEFAULT '1',
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checklist_ajuans_ajuan_id_foreign` (`ajuan_id`),
  KEY `checklist_ajuans_template_checklist_id_foreign` (`template_checklist_id`),
  KEY `checklist_ajuans_updated_by_foreign` (`updated_by`),
  CONSTRAINT `checklist_ajuans_ajuan_id_foreign` FOREIGN KEY (`ajuan_id`) REFERENCES `ajuans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checklist_ajuans_template_checklist_id_foreign` FOREIGN KEY (`template_checklist_id`) REFERENCES `template_checklists` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checklist_ajuans_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=494 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklist_ajuans`
--

LOCK TABLES `checklist_ajuans` WRITE;
/*!40000 ALTER TABLE `checklist_ajuans` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_ajuans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checklist_pj_kades`
--

DROP TABLE IF EXISTS `checklist_pj_kades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `checklist_pj_kades` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pj_kades_id` bigint unsigned NOT NULL,
  `template_checklist_id` bigint unsigned DEFAULT NULL,
  `nama_dokumen` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `wajib` tinyint(1) NOT NULL DEFAULT '1',
  `urutan` int NOT NULL DEFAULT '1',
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_verifikasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `catatan_revisi` text COLLATE utf8mb4_unicode_ci,
  `tgl_diunggah` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `checklist_pj_kades_pj_kades_id_foreign` (`pj_kades_id`),
  KEY `checklist_pj_kades_template_checklist_id_foreign` (`template_checklist_id`),
  CONSTRAINT `checklist_pj_kades_pj_kades_id_foreign` FOREIGN KEY (`pj_kades_id`) REFERENCES `pj_kades` (`id`) ON DELETE CASCADE,
  CONSTRAINT `checklist_pj_kades_template_checklist_id_foreign` FOREIGN KEY (`template_checklist_id`) REFERENCES `template_checklists` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=930 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checklist_pj_kades`
--

LOCK TABLES `checklist_pj_kades` WRITE;
/*!40000 ALTER TABLE `checklist_pj_kades` DISABLE KEYS */;
/*!40000 ALTER TABLE `checklist_pj_kades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `desas`
--

DROP TABLE IF EXISTS `desas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `desas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_desa` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kecamatan_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `desas_kecamatan_id_foreign` (`kecamatan_id`),
  CONSTRAINT `desas_kecamatan_id_foreign` FOREIGN KEY (`kecamatan_id`) REFERENCES `kecamatans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=300 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `desas`
--

LOCK TABLES `desas` WRITE;
/*!40000 ALTER TABLE `desas` DISABLE KEYS */;
/*!40000 ALTER TABLE `desas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`),
  KEY `failed_jobs_connection_queue_failed_at_index` (`connection`,`queue`,`failed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `izin_calons`
--

DROP TABLE IF EXISTS `izin_calons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `izin_calons` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `nama_calon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan_sekarang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_calon` enum('kades','perangkat','pns') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'kades=petahana, perangkat=perangkat desa, pns=ASN',
  `surat_permohonan_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `berkas_syarat_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `surat_pengunduran_diri_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_cuti_mulai` date DEFAULT NULL,
  `tgl_cuti_selesai` date DEFAULT NULL,
  `has_temuan_inspektorat` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'true = ada temuan kerugian yg blm diselesaikan',
  `bebas_temuan_inspektorat_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_inspektorat` text COLLATE utf8mb4_unicode_ci,
  `surat_izin_bupati_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted' COMMENT 'submitted, approved, rejected',
  `verified_by` bigint unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `izin_calons_desa_id_foreign` (`desa_id`),
  KEY `izin_calons_verified_by_foreign` (`verified_by`),
  CONSTRAINT `izin_calons_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `izin_calons_verified_by_foreign` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `izin_calons`
--

LOCK TABLES `izin_calons` WRITE;
/*!40000 ALTER TABLE `izin_calons` DISABLE KEYS */;
INSERT INTO `izin_calons` VALUES (1,1,'Rahmat Hidayat','Kepala Urusan Pemerintahan (Kaur)','perangkat',NULL,'izincalon/syarat_dummy.pdf',NULL,NULL,NULL,0,'izincalon/inspektorat_dummy.pdf',NULL,NULL,'pending',NULL,NULL,'2026-07-26 18:13:53','2026-07-26 18:13:53');
/*!40000 ALTER TABLE `izin_calons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_layanans`
--

DROP TABLE IF EXISTS `jenis_layanans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jenis_layanans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_layanans`
--

LOCK TABLES `jenis_layanans` WRITE;
/*!40000 ALTER TABLE `jenis_layanans` DISABLE KEYS */;
INSERT INTO `jenis_layanans` VALUES (1,'Pengangkatan','2026-07-26 18:13:51','2026-07-26 18:13:51'),(2,'Rotasi','2026-07-26 18:13:51','2026-07-26 18:13:51'),(3,'Pemberhentian','2026-07-26 18:13:51','2026-07-26 18:13:51'),(4,'Pj Kades (Pemberhentian Definitif & Penunjukan Pj)','2026-07-26 18:13:52','2026-07-26 18:13:52'),(5,'Plt Kades (Pemberhentian Sementara / Cuti & Penunjukan Plt)','2026-07-26 18:13:52','2026-07-26 18:13:52');
/*!40000 ALTER TABLE `jenis_layanans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kecamatans`
--

DROP TABLE IF EXISTS `kecamatans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kecamatans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_kecamatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kecamatans`
--

LOCK TABLES `kecamatans` WRITE;
/*!40000 ALTER TABLE `kecamatans` DISABLE KEYS */;
/*!40000 ALTER TABLE `kecamatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_kekurangans`
--

DROP TABLE IF EXISTS `log_kekurangans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_kekurangans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `checklist_ajuan_id` bigint unsigned NOT NULL,
  `status_lama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status_baru` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tgl` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `log_kekurangans_checklist_ajuan_id_foreign` (`checklist_ajuan_id`),
  CONSTRAINT `log_kekurangans_checklist_ajuan_id_foreign` FOREIGN KEY (`checklist_ajuan_id`) REFERENCES `checklist_ajuans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_kekurangans`
--

LOCK TABLES `log_kekurangans` WRITE;
/*!40000 ALTER TABLE `log_kekurangans` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_kekurangans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `milestone_ajuan_bpds`
--

DROP TABLE IF EXISTS `milestone_ajuan_bpds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `milestone_ajuan_bpds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_bpd_id` bigint unsigned NOT NULL,
  `tahapan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tgl_selesai` datetime DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `milestone_ajuan_bpds_ajuan_bpd_id_foreign` (`ajuan_bpd_id`),
  CONSTRAINT `milestone_ajuan_bpds_ajuan_bpd_id_foreign` FOREIGN KEY (`ajuan_bpd_id`) REFERENCES `ajuan_bpds` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `milestone_ajuan_bpds`
--

LOCK TABLES `milestone_ajuan_bpds` WRITE;
/*!40000 ALTER TABLE `milestone_ajuan_bpds` DISABLE KEYS */;
/*!40000 ALTER TABLE `milestone_ajuan_bpds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `milestone_trackings`
--

DROP TABLE IF EXISTS `milestone_trackings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `milestone_trackings` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ajuan_id` bigint unsigned NOT NULL,
  `tahap` int NOT NULL,
  `tgl_mulai` date DEFAULT NULL,
  `tgl_selesai` date DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `updated_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `milestone_trackings_ajuan_id_foreign` (`ajuan_id`),
  KEY `milestone_trackings_updated_by_foreign` (`updated_by`),
  CONSTRAINT `milestone_trackings_ajuan_id_foreign` FOREIGN KEY (`ajuan_id`) REFERENCES `ajuans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `milestone_trackings_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `milestone_trackings`
--

LOCK TABLES `milestone_trackings` WRITE;
/*!40000 ALTER TABLE `milestone_trackings` DISABLE KEYS */;
/*!40000 ALTER TABLE `milestone_trackings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penataan_desas`
--

DROP TABLE IF EXISTS `penataan_desas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `penataan_desas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `jumlah_penduduk` int NOT NULL,
  `jumlah_kk` int NOT NULL,
  `luas_wilayah_km2` decimal(10,2) NOT NULL,
  `peta_geospasial_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `perbup_persiapan_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'diajukan',
  `alasan_penolakan` text COLLATE utf8mb4_unicode_ci,
  `tgl_mulai_persiapan` date DEFAULT NULL,
  `tgl_batas_persiapan` date DEFAULT NULL,
  `kode_desa_kemendagri` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `diproses_oleh` bigint unsigned DEFAULT NULL,
  `diproses_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `penataan_desas_kode_desa_kemendagri_unique` (`kode_desa_kemendagri`),
  KEY `penataan_desas_desa_id_foreign` (`desa_id`),
  KEY `penataan_desas_diproses_oleh_foreign` (`diproses_oleh`),
  CONSTRAINT `penataan_desas_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `penataan_desas_diproses_oleh_foreign` FOREIGN KEY (`diproses_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penataan_desas`
--

LOCK TABLES `penataan_desas` WRITE;
/*!40000 ALTER TABLE `penataan_desas` DISABLE KEYS */;
/*!40000 ALTER TABLE `penataan_desas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengajuan_pembinaans`
--

DROP TABLE IF EXISTS `pengajuan_pembinaans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengajuan_pembinaans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `judul_kegiatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `tanggal_diajukan` date NOT NULL,
  `file_surat_permohonan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_undangan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu',
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `dibalas_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pengajuan_pembinaans_desa_id_foreign` (`desa_id`),
  KEY `pengajuan_pembinaans_user_id_foreign` (`user_id`),
  CONSTRAINT `pengajuan_pembinaans_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pengajuan_pembinaans_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengajuan_pembinaans`
--

LOCK TABLES `pengajuan_pembinaans` WRITE;
/*!40000 ALTER TABLE `pengajuan_pembinaans` DISABLE KEYS */;
INSERT INTO `pengajuan_pembinaans` VALUES (2,179,1,'nyoba',NULL,'2026-08-01','bimtek/pengajuan/surat-permohonan/RClgY8fA1Pa673GeqZR3UjWI43eU6R222TEak0zo.pdf',NULL,'disetujui','oke','2026-07-31 07:27:51','2026-07-31 07:23:54','2026-07-31 07:27:51'),(3,179,1,'nyoba 2','itulah pokoknya','2026-08-15','bimtek/pengajuan/surat-permohonan/NTp36KpmJJaIqaQMPF5vnkpVR8Qjf2xALi3PxFHZ.pdf',NULL,'menunggu',NULL,NULL,'2026-08-03 19:17:39','2026-08-03 19:17:39');
/*!40000 ALTER TABLE `pengajuan_pembinaans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perangkat_desas`
--

DROP TABLE IF EXISTS `perangkat_desas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `perangkat_desas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_sk_terakhir` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_mulai_jabatan` date DEFAULT NULL,
  `status_aktif` tinyint(1) NOT NULL DEFAULT '1',
  `status_verifikasi` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disetujui',
  `draft_perubahan` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `perangkat_desas_desa_id_foreign` (`desa_id`),
  CONSTRAINT `perangkat_desas_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3247 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perangkat_desas`
--

LOCK TABLES `perangkat_desas` WRITE;
/*!40000 ALTER TABLE `perangkat_desas` DISABLE KEYS */;
/*!40000 ALTER TABLE `perangkat_desas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pilkades`
--

DROP TABLE IF EXISTS `pilkades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pilkades` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `tanggal_pemungutan` date NOT NULL,
  `total_tps` int NOT NULL DEFAULT '1',
  `total_dpt` int NOT NULL DEFAULT '0' COMMENT 'Jumlah DPT per desa',
  `calon_1_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `calon_2_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `calon_3_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `berita_acara_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pemenang_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sk_bupati_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `disahkan_oleh` bigint unsigned DEFAULT NULL,
  `disahkan_at` timestamp NULL DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'persiapan',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pilkades_desa_id_foreign` (`desa_id`),
  KEY `pilkades_disahkan_oleh_foreign` (`disahkan_oleh`),
  CONSTRAINT `pilkades_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pilkades_disahkan_oleh_foreign` FOREIGN KEY (`disahkan_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pilkades`
--

LOCK TABLES `pilkades` WRITE;
/*!40000 ALTER TABLE `pilkades` DISABLE KEYS */;
INSERT INTO `pilkades` VALUES (1,1,'2026-07-25',3,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'pemilihan','2026-07-26 18:13:53','2026-07-26 18:13:53');
/*!40000 ALTER TABLE `pilkades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pilkades_suaras`
--

DROP TABLE IF EXISTS `pilkades_suaras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pilkades_suaras` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pilkades_id` bigint unsigned NOT NULL,
  `tps_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Contoh: TPS 001, TPS 002',
  `total_pemilih_hadir` int NOT NULL DEFAULT '0',
  `suara_sah` int NOT NULL DEFAULT '0',
  `suara_tidak_sah` int NOT NULL DEFAULT '0',
  `suara_calon_1` int NOT NULL DEFAULT '0',
  `suara_calon_2` int NOT NULL DEFAULT '0',
  `suara_calon_3` int NOT NULL DEFAULT '0',
  `is_locked` tinyint(1) NOT NULL DEFAULT '0',
  `input_by` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pilkades_suaras_pilkades_id_tps_name_unique` (`pilkades_id`,`tps_name`),
  KEY `pilkades_suaras_input_by_foreign` (`input_by`),
  CONSTRAINT `pilkades_suaras_input_by_foreign` FOREIGN KEY (`input_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pilkades_suaras_pilkades_id_foreign` FOREIGN KEY (`pilkades_id`) REFERENCES `pilkades` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pilkades_suaras`
--

LOCK TABLES `pilkades_suaras` WRITE;
/*!40000 ALTER TABLE `pilkades_suaras` DISABLE KEYS */;
INSERT INTO `pilkades_suaras` VALUES (1,1,'TPS 01 - Balai RW 01',0,0,0,120,85,95,0,NULL,NULL,'2026-07-26 18:13:53','2026-07-26 18:13:53'),(2,1,'TPS 02 - SD Negeri 1',0,0,0,140,110,105,0,NULL,NULL,'2026-07-26 18:13:53','2026-07-26 18:13:53');
/*!40000 ALTER TABLE `pilkades_suaras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pj_kades`
--

DROP TABLE IF EXISTS `pj_kades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pj_kades` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `kategori` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pj_kades',
  `alasan_pemberhentian_id` bigint unsigned DEFAULT NULL,
  `alasan_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan_cuti` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `no_registrasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_pns` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pangkat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nama_plt` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nip_plt` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pangkat_plt` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `riwayat_hidup_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `surat_camat_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sk_pangkat_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_bebas_hukdis` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `sk_bupati_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `folder_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tgl_diajukan` date DEFAULT NULL,
  `tgl_mulai` date DEFAULT NULL,
  `tgl_selesai` date DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `metode` enum('online','offline') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'online',
  `berkas_zip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `posisi_surat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'Front Office (FO)',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pj_kades_desa_id_foreign` (`desa_id`),
  KEY `pj_kades_alasan_pemberhentian_id_foreign` (`alasan_pemberhentian_id`),
  CONSTRAINT `pj_kades_alasan_pemberhentian_id_foreign` FOREIGN KEY (`alasan_pemberhentian_id`) REFERENCES `alasan_pemberhentians` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pj_kades_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pj_kades`
--

LOCK TABLES `pj_kades` WRITE;
/*!40000 ALTER TABLE `pj_kades` DISABLE KEYS */;
/*!40000 ALTER TABLE `pj_kades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `regulasis`
--

DROP TABLE IF EXISTS `regulasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regulasis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_regulasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `judul` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `tipe` enum('perdes','perkades','sk_kades') COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_catatan_dinas` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_pdf` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu_evaluasi',
  `desa_id` bigint unsigned NOT NULL,
  `catatan_revisi` text COLLATE utf8mb4_unicode_ci,
  `tgl_diajukan` date DEFAULT NULL,
  `tgl_disahkan` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `regulasis_no_regulasi_unique` (`no_regulasi`),
  KEY `regulasis_desa_id_foreign` (`desa_id`),
  CONSTRAINT `regulasis_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `regulasis`
--

LOCK TABLES `regulasis` WRITE;
/*!40000 ALTER TABLE `regulasis` DISABLE KEYS */;
/*!40000 ALTER TABLE `regulasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rencana_p3ds`
--

DROP TABLE IF EXISTS `rencana_p3ds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rencana_p3ds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `kecamatan_id` bigint unsigned NOT NULL,
  `jumlah_formasi_kosong` int NOT NULL DEFAULT '0',
  `jabatan_kosong` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `rencana_pelaksanaan` date NOT NULL,
  `rencana_anggaran` decimal(15,2) NOT NULL DEFAULT '0.00',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'dikirim',
  `tahun` year DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `rencana_p3ds_desa_id_foreign` (`desa_id`),
  KEY `rencana_p3ds_kecamatan_id_foreign` (`kecamatan_id`),
  CONSTRAINT `rencana_p3ds_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rencana_p3ds_kecamatan_id_foreign` FOREIGN KEY (`kecamatan_id`) REFERENCES `kecamatans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rencana_p3ds`
--

LOCK TABLES `rencana_p3ds` WRITE;
/*!40000 ALTER TABLE `rencana_p3ds` DISABLE KEYS */;
INSERT INTO `rencana_p3ds` VALUES (3,179,15,1,'Kasi Pemerintahan','2026-07-14',50000000.00,NULL,'dikirim',2026,'2026-07-31 07:45:32','2026-07-31 07:45:32'),(4,179,15,1,'Kaur TU & Umum','2028-10-17',10000000.00,'ganti','dikirim',2028,'2026-08-03 19:38:07','2026-08-03 19:38:07');
/*!40000 ALTER TABLE `rencana_p3ds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siltaps`
--

DROP TABLE IF EXISTS `siltaps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `siltaps` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `desa_id` bigint unsigned NOT NULL,
  `bulan` int NOT NULL,
  `tahun` int NOT NULL,
  `jumlah_perangkat_aktif` int NOT NULL DEFAULT '0',
  `rekomendasi_camat_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bukti_bpjs_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `spj_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu_verifikasi',
  `catatan_verifikator` text COLLATE utf8mb4_unicode_ci,
  `sp2d_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `verified_by` bigint unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `siltaps_desa_id_bulan_tahun_unique` (`desa_id`,`bulan`,`tahun`),
  CONSTRAINT `siltaps_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siltaps`
--

LOCK TABLES `siltaps` WRITE;
/*!40000 ALTER TABLE `siltaps` DISABLE KEYS */;
INSERT INTO `siltaps` VALUES (1,1,6,2026,0,'siltap/rekomindasi_camat_dummy.pdf','siltap/bukti_bpjs_dummy.pdf','siltap/spj_dummy.pdf','approved','Telah diproses dan dana telah dikirim ke Bank Jateng cabang terdekat.','siltap/sp2d_dummy.pdf',NULL,NULL,'2026-07-26 18:13:53','2026-07-26 18:13:53'),(2,1,7,2026,0,'siltap/rekomindasi_camat_dummy2.pdf','siltap/bukti_bpjs_dummy2.pdf','siltap/spj_dummy2.pdf','pending',NULL,NULL,NULL,NULL,'2026-07-26 18:13:53','2026-07-26 18:13:53');
/*!40000 ALTER TABLE `siltaps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `template_checklist_bpds`
--

DROP TABLE IF EXISTS `template_checklist_bpds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `template_checklist_bpds` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `jenis_ajuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan_pemberhentian_id` bigint unsigned DEFAULT NULL,
  `nama_dokumen` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `wajib` tinyint(1) NOT NULL DEFAULT '1',
  `urutan` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `template_checklist_bpds_alasan_pemberhentian_id_foreign` (`alasan_pemberhentian_id`),
  CONSTRAINT `template_checklist_bpds_alasan_pemberhentian_id_foreign` FOREIGN KEY (`alasan_pemberhentian_id`) REFERENCES `alasan_pemberhentians` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=169 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `template_checklist_bpds`
--

LOCK TABLES `template_checklist_bpds` WRITE;
/*!40000 ALTER TABLE `template_checklist_bpds` DISABLE KEYS */;
/*!40000 ALTER TABLE `template_checklist_bpds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `template_checklists`
--

DROP TABLE IF EXISTS `template_checklists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `template_checklists` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `jenis_layanan_id` bigint unsigned NOT NULL,
  `alasan_pemberhentian_id` bigint unsigned DEFAULT NULL,
  `nama_dokumen` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `wajib` tinyint(1) NOT NULL DEFAULT '1',
  `urutan` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `template_checklists_jenis_layanan_id_foreign` (`jenis_layanan_id`),
  KEY `template_checklists_alasan_pemberhentian_id_foreign` (`alasan_pemberhentian_id`),
  CONSTRAINT `template_checklists_alasan_pemberhentian_id_foreign` FOREIGN KEY (`alasan_pemberhentian_id`) REFERENCES `alasan_pemberhentians` (`id`) ON DELETE CASCADE,
  CONSTRAINT `template_checklists_jenis_layanan_id_foreign` FOREIGN KEY (`jenis_layanan_id`) REFERENCES `jenis_layanans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=832 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `template_checklists`
--

LOCK TABLES `template_checklists` WRITE;
/*!40000 ALTER TABLE `template_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `template_checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('super_admin','desa') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'desa',
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `desa_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_username_unique` (`username`),
  KEY `users_desa_id_foreign` (`desa_id`),
  CONSTRAINT `users_desa_id_foreign` FOREIGN KEY (`desa_id`) REFERENCES `desas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-04 13:20:44
